extends ../layout

block content
    //- Breadcrumbs
    .col.s12(style="margin-top: 0px; background: #577889; line-height: 1; padding-left: 10px;")
        a.breadcrumb(href='/users') User Management
        a.breadcrumb(href='/users') Users
        a.breadcrumb(href='#') Delete User
    div.row
        div.div.col.s12.m12.l10.xl8.offset-l1.offset-xl2
            form.col.s12(action="", method="POST")
                div.row
                    div.input-field.col.s12
                        h5.header Delete User
                        span Cleaning up! it also removes account data from the system.
                    if !!errorMessage
                        div.input-field.col.s12
                            span.error #{errorMessage}
                    if !!userToDelete
                        div.input-field.col.s12
                            p.flow-text Are you sure you want to delete #[b #{userToDelete.name}] #[br]  permanently? Adding them back won't restore their data.
                        div.input-field.col.s12
                            button.btn.waves-effect.waves-light(type="submit" style="margin-right:4px")  Delete Anyway
                                i.material-icons.right delete_forever
                            a.btn.waves-effect.waves-light.urbaned.black(href="/users/details/" + userToDelete._id) Return
                                i.material-icons.right keyboard_return
                    else
                         div.input-field.col.s12
                            a.btn.waves-effect.waves-light.urbaned.black(href="/users/") Return
                                i.material-icons.right keyboard_return
